header.site-header
  .container
    .site-header__inner
      a.site-brand(href="/")
        span.site-brand__dot
        span BlinkChat

      nav.site-nav
        a.site-nav__link(href="/login") Đăng nhập
        a.btn.btn-primary.btn-sm(href="/register") Đăng ký