header.site-header
  .container
    .site-header__inner
      a.site-brand(href="/")
        span.site-brand__dot
        span BlinkChat

      nav.site-nav
        if !user
          a.site-nav__link(href="/account/login") Đăng nhập
          a.btn.btn-primary.btn-sm(href="/account/register") Đăng ký
        else
          span.site-nav__user
            i.fa.fa-user(aria-hidden="true" style="color: #4e9af1; margin-right: 6px;")
            | #{user.fullName}
          a.site-nav__link(href="/account/logout") Đăng xuất